.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 25px;
  box-sizing: border-box;
}

@media screen and (max-width: 976px) {
  .profile {
    padding: 40px 30px 25px;
  }
}

@media screen and (max-width: 650px) {
  .profile {
  padding: 40px 19px 18px;
  }
}

@media screen and (max-width:735px) {
  .profile {
    flex-direction: column;
    row-gap: 36px;
  }
}

