.profile__description {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  grid-area: description;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

@media screen and (max-width:425px) {
  .profile__description {
    font-size: 14px;
    line-height: 1;
    text-align: center;
  }
}
