@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__userInfo/header__userInfo.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__button/header__button.css);

@import url(./blocks/content/content.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__edit/profile__edit.css);

@import url(./blocks/add-element/add-element.css);

@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__description/element__description.css);
@import url(./blocks/element/__heading/element__heading.css);
@import url(./blocks/element/__like-button/element__like-button.css);
@import url(./blocks/element/__like-button/_active/element__like-button_active.css);
@import url(./blocks/element/__like-counter/element__like-counter.css);
@import url(./blocks/element/__delete/element__delete.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_element-image/popup_type_element-image.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__confirm-container/popup__confirm-container.css);
@import url(./blocks/popup/__confirm-title/popup__confirm-title.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__save/popup__save.css);
@import url(./blocks/popup/__save/_disabled/popup__save_disabled.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_error/popup__input_type_error.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_visible/popup__input-error_visible.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__image/popup__image.css);

@import url(./blocks/auth-form/authForm.css);
@import url(./blocks/auth-form/__caption/authForm__caption.css);
@import url(./blocks/auth-form/__input/authForm__input.css);
@import url(./blocks/auth-form/__submit/authForm__submit.css);
@import url(./blocks/auth-form/__title/authForm__title.css);

